<!DOCTYPE html>
<html>
<head>
<title>开会时间</title>
<h1 align="center">开会时间投票</h1>


  <div class="" id="two">
    <a href="#">{{ user }}</a>
    <a href="{% url 'dl:logout' %}">  退出</a>
	</div>

{% load static %}
<script type='text/javascript' src="{% static  'js/jquery.js' %}"></script>
<script type="text/javascript">
    $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });
    function force(voteId, userId, voteType){
      $.post("{% url 'dl:vote_action' %}",
        {csrfmiddlewaretoken:'{{ csrf_token }}',
            user_id: userId,
        vote_id: voteId,
        vote_type: voteType
        },function(data){
     alert("通知 : " + data.error);
     reloadPage();
   });
        }
        function reloadPage(){
        location.reload()
        }

    $(document).ready(function(){
        $('#container div a').click(function(){
            $(this).parent().animate({
            // width:'+=100px'
            },500);
        })
    });
</script>
<link href='{% static "/css/vote.css" %}' rel="stylesheet" type="text/css"/>
</head>
<body>
{% load static %}
  <span>本周开会时间： <a style="color: crimson;">{{ vote_name }}</a></span>
<div id="container">
    {%for vote in vote_info%}
<!--    django乘法-a/b*(c+d)-->
      <div style="width:{%  widthratio 70 1 vote.num|add:5 %}px" >
        <span>{{vote.num}}</span>
        <a onclick="force(vote_id='{{vote.id}}', user_id='{{vote.user_id}}',vote_type='1')">
          <button type="submit">投票</button>
        </a>
        <span>{{vote.force_num}}</span>
        <a onclick="force(vote_id='{{vote.id}}', user_id='{{vote.user_id}}',vote_type='2')">
          <button type="submit">强制投票</button>
        </a>
        {{vote.vote_name}}
      </div>
    {%endfor%}
 {{ error }}<br>
</div>
<h4>注意：你本月只有一次《强制开会》</h4>
</body>
</html>